@font-face {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-style: normal;
  font-display: swap;
}

html{
  height: 100%;
  background-color: #F2F2F2;
}

body{
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container{
  width: 1200px;
  margin: 0 auto;
}

.main-container{
  flex-grow: 1;
}

/* Header */

.page-header{
  background-color: #FFFFFF;
  color: #000000;
}

/* Navigation */

.navigation{
  display: flex;
  width: 1060px;
  align-items: center;
  margin: 0 auto;
  padding: 0 70px;
}

.navigation-list{
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  margin: 0;
  margin-left: 28px;
  padding: 0;
  list-style: none;
}

.main-logo{
  display: block;
  margin-bottom: -10px;
  padding: 0;
  z-index: 1;
}

.navigation-user{
  display: flex;
  flex-wrap: wrap;
  width: 100px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style: none;
}

.search-navigation, .favorite-navigation{
  display: block;
  padding: 22px 12px;
  background-image: url(../images/navigation/search.svg);
  background-repeat: no-repeat;
  background-position:20% center;
  min-width: 20px;
  min-height: 20px;
}

.favorite-navigation{
  background-image: url(../images/navigation/favorites.svg);
}

.navigation-link{
  display: block;
  padding: 20px 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #000000;
  text-decoration: none;
}

.navigation-link-current{
  position: relative;
  z-index: 1;
  text-decoration: underline;
  text-decoration-color: #756257;
  text-underline-position: under;
  text-decoration-thickness: 2px;
  text-underline-offset: 19.5px;
}

.booking-hotel{
  display: inline-block;
  padding: 8px 34px;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  color: #FFFFFF;
  background-color: #756157;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

.booking-hotel:hover{
  background-color: #615048;
}

.booking-hotel:focus{
  background-color: #615048;
}

.booking-hotel:active{
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.booking-hotel:disabled{
  background-color: #E5E5E5;
}

/* Hero */

.main-index, .main-inner{
  background-color: #FFFFFF;
}

.hero-wrapper{
  padding: 69px 274.5px;
}

.hero-images{
  display: block;
  margin: 0 auto;
  padding-top: 51px;
}

.hero-images-wrapp{
  position: relative;
  background-image: url(../images/background/index-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 485px;
}

.hero-images-wrapp::before{
  position: absolute;
  content: '';
  bottom: 0;
  width: 100%;
  height: 57px;
  background-image: url(../images/background/decoration-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-subtitle{
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.hero-description{
  margin-top: 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

/* Advantages */

.advantages-subtitle{
  width: 172px;
  margin: 0 auto 62px auto;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.advantages-description{
  margin: 0 auto;
  text-align: center;
  color: #FFFFFF;
}

.advantages-content-container{
  display: flex;
  justify-content: space-between;
}

.advantages-text-wrapp{
  position: relative;
  width: 400px;
  padding: 102px 85px;
  background-color: #82B3D3;
}

.advantages-text-wrapp::after{
  position: absolute;
  content: '';
  top: 188px;
  left: 170px;
  width: 60px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-list{
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-item{
  position: relative;
  width: 230px;
  padding: 112.5px 85px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item::after{
  position: absolute;
  content: '';
  top: 199px;
  left: 170px;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);;
}

.advantages-subtitle-detail{
  width: 175px;
  margin: 0 auto 62px auto;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.advantages-description-detail{
  width: 233px;
  margin: 0 auto;
  text-align: center;
}

.diff-bg{
  background-color: rgba(131, 179, 211, 0.2);
}

/* Additional-advantages */

.advantages-hero-wrapper{
  padding: 64px 347.5px;
}

.additional-advantages-title{
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.additional-advantages-desctiption{
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.additional-advantages-list{
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.housing::before{
  position: absolute;
  content: '';
  top: 80px;
  background-image: url(../images/advanteges/advantage-icon-home.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 75px;
  height: 72px;
}

.food::before{
  position: absolute;
  content: '';
  top: 81px;
  left: 40.5%;
  background-image: url(../images/advanteges/advantage-icon-burger.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 74px;
  height: 70px;
}

.souvenirs::before{
  position: absolute;
  content: '';
  top: 78px;
  left: 42%;
  background-image: url(../images/advanteges/advantage-icon-box.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 64px;
  height: 76px;
}


.additional-advantages-item{
  position: relative;
  width: 400px;
  padding: 152px 83px 60px 86px;
  background-color: rgba(131, 179, 211, 0.12);
}

.differ{
  background-color: #FFFFFF;
}

.additional-advantages-subtitle{
  margin: 30px auto;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.additional-advantage-item-desc{
  width: 228px;
  text-align: center;
}

/* Search-hotel */

.searching-results{
  padding: 0 70px;
}

.search-hotel-container{
  width: 592px;
  padding: 97.5px 304px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.search-hotel-title{
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.search-hotel-description{
  margin-top: 0;
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.search-hotel-btn{
  margin: 0;
  padding: 8px 50px;
  font-family: 'PT Sans', sans-serif;
  border: none;
  background-color: #756157;
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
}

.search-hotel-btn:hover{
  background-color: #615048;
}

.search-hotel-btn:focus{
  background-color: #615048;
}

.search-hotel-btn:active{
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.search-hotel-btn:disabled{
  background-color: #E5E5E5;
}

/* Subscribe */

.subscribe{
  background-image: url(../images/subscribe-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}

.subscribe-container{
  display: flex;
  padding: 96px 258px 106px 258px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subscribe-title{
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.subscribe-description{
  width: 475px;
  margin: 0;
  margin-bottom: 52px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
}

.mail{
  display: flex;
}

.input-mail{
  width: 410px;
  margin: 0;
  padding: 23px 22px 16px 20px;
  background: #F2F2F2;
  border-radius: 4px 0 0 4px;
  border: none;
}

.input-mail::placeholder{
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 0.6;
}

.button-mail{
  margin: 0;
  background: #82B3D3;
  border-radius: 0 4px 4px 0;
  padding: 8px 50px;
  border: none;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.button-mail:hover{
  background-color: #68A2CA;
}

.button-mail:focus{
  background-color: #68A2CA;
}

.button-mail:active{
  color: rgba(255, 255, 255, 0.3);
  background-color: #82B3D3;
}

.button-mail:disabled{
  background-color: #E5E5E5;
}

/* Footer */

.page-footer{
  background-color: #FFFFFF;
}

.page-footer-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1060px;
  margin: 0 auto;
  padding: 40px 70px 30px 70px;
}

.social-list{
  display: flex;
  align-items: center;
  width: 156px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.contact-phone-link{
  display: block;
  margin: 0;
  padding: 14px 12px 14px 0;
  font-style: normal;
  font-size: 40px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.contact-phone-link:hover{
    color: #756157;
}

.contact-phone-link:focus{
  color: #756157;
}

.contact-phone-link:active{
  color: rgba(117, 97, 87, 0.3);
}

.social-link{
  display: block;
}

.social-link-images:hover{
  fill: #68A2CA;
}

.social-link-images:focus{
  fill: #68A2CA;
}

.social-link-images:active{
  fill: rgba(104, 162, 202, 0.3);
}

.vk{
  padding: 13px 11.67px;
}

.telegram{
  padding: 12px 14.67px 12.9px 14.67px;
}

.youtube{
  padding: 11.5px 12.67px;
}

.copyright:hover{
  fill: #756157;
}

.copyright:focus{
  fill: #756157;
}

.copyright:active{
  fill: rgba(117, 97, 87, 0.3);
}


/* CATALOG PAGE */

.filter-background-wrapp{
  padding:70px;
  padding-top: 35px;
  background-image: url(../images/background/filter-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Header Catalog */

.inner-header-title {
  margin-top: 35px;
  margin-bottom: 8px;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
}
.breadcrumbs-list {
  position: relative;
  display: flex;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
}

/* .breadcrumbs-item:not(:last-child){
  margin-right: 20px;
} */

.breadcrumbs-link{
  display: block;
  margin: 0;
  padding: 14px;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  cursor: pointer;
}

.breadcrumbs-link-home:hover{
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link-home:active{
  fill: (255, 255, 255, 0.3);
}

.breadcrumbs-link:hover{
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active{
  color: (255, 255, 255, 0.3);
}

.breadcrumbs-list::after{
  position: absolute;
  background-image: url(../images/breadcrumbs-arrow.svg);
  background-repeat: no-repeat;
  content: '';
  left: 36px;
  top: 19px;
  width: 8px;
  height: 11px;
}

/* Filter products */

.catalog-filter{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1060px;
}

.catalog-filter-title {
  margin-top: 0;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.points-choice-container{
  display: flex;
}

.submit-buttons-wrapper{
  display: flex;
  flex-direction: column;
}

.catalog-filter-group{
  margin: 0;
  margin-right: 70px;
  padding: 0;
  border: none;
}

.catalog-filter-group:last-child{
  margin-right: 0;
}

.catalog-filter-list{
  margin: 0;
  padding: 0;
  list-style: none;
}


.infrastructure-item{
  color: #FFFFFF;
}

.housing-item{
  color: #FFFFFF;
}

.control-input{
  margin-top: 0;
  margin-bottom: 16px;
}

.button-apply {
  padding: 8px 50px;
  margin-bottom: 32px;
  border: none;
  background-color: #82B3D3;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.button-apply:hover{
  background-color: #68A2CA;
}

.button-apply:focus{
  background-color: #68A2CA;
}

.button-apply:active{
  color: rgba(255, 255, 255, 0.3);
  background-color: #82B3D3;
}

.button-apply:disabled{
  background-color: #E5E5E5;
}

.button-remove {
  padding: 8px 50px;
  border: none;
  background-color: initial;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.button-remove:hover{
  color: rgba(255, 255, 255, 0.6);
}

.button-remove:focus{
  outline-style: solid;
  outline-color: #83B3D3;
  outline-width: 3px;
}

.button-remove:active{
  color: rgba(255, 255, 255, 0.3);
}

.button-remove:disabled{
  opacity: 0.1
}

/* Searching results */

.search-filtering-container{
  display: flex;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 40px;
  justify-content: space-between;
  align-items: center;
}

.searching-results-title{
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.select-control{
  border-radius: 4px;
  width: 292px;
  margin-left: auto;
  margin-right: 70px;
}

.select-control:hover{
  border: 2px solid #68A2CA;
}

.select-control:focus{
  outline-style: solid;
  outline-width: 2px;
  outline-color: #68A2CA;
}

.select-control:disabled{
  color: rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.card-layout-wrapper{
  width: 170px;
}

.button{
  margin-right: 8px;
}

.button:last-child{
  margin-right: 0;
}

.button-grid, .button-list, .button-single{
  background-color: #FFFFFF;
  width: 48px;
  height: 48px;
  background-image: url(../images/directory-layout/icon-grid-layout-cards.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.button-grid:hover,
.button-list:hover,
.button-single:hover{
  border: 2px solid #000000;
}

.button-grid:focus,
.button-list:focus,
.button-single:focus{
  outline-color: #68A2CA;
  outline-style: solid;
  outline-width: 2px;
}

.button-grid:active,
.button-list:active,
.button-single:active{
  border: 2px solid #000000;
}


.button-list {
  background-image: url(../images/directory-layout/icon-single-layout-cards.svg);
}

.button-single {
  background-image: url(../images/directory-layout/icon-list-layout-cards.svg);
}

.active-layout{
  border: 2px solid #000000;
}

.product-list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  list-style: none;
}

.product-list::after{
  position: absolute;
  content: '';
  bottom: -40px;
  width: 1060px;
  height: 1px;
  background-color: #E6E6E6;
}

.product-card{
  width: 300px;
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-bottom: 16px;
}

.wrapper:last-child{
  margin-bottom: 0;
}

.product-link{
  text-decoration: none;
}

.product-card-image{
  display: block;
  object-fit: contain;
  margin: 0;
  margin-bottom: 16px;
}

.product-card-title {
  margin: 0;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.product-card-link{
  display: inline-block;
  padding: 8px 26px;
  border-radius: 4px;
  border: none;
  background-color: #756157;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.product-card-button {
  padding: 8px 20px;
  border-radius: 4px;
  border: none;
  font-family: 'PT Sans', sans-serif;
  background-color: #82B3D3;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.active-button{
  padding: 8px 18px;
  border-radius: 4px;
  border: none;
  font-family: 'PT Sans', sans-serif;
  background-color: #7DB54F;
}

.product-card-rating {
  padding: 9px 22px 8px 23px;
  border-radius: 4px;
  background-color:  #F2F2F2;;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.pagination {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
  list-style: none;
}

.pagination-item:not(:last-child){
  margin-right: 8px;
}

.pagination-link {
  display: inline-block;
  border-radius: 4px;
  margin: 0;
  padding: 12px 24px;
  text-decoration: none;
  background-color: #82B3D3;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.pagination-current {
  background-color: #F2F2F2;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.pagination-show-more{
  border: none;
  padding: 17px 24px;
  border-radius: 4px;
}

.show-all-pages {
  font-family: 'PT Sans';
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}
.subscribe-catalog{
  padding: 96px 258px 104px 258px;
  text-align: center;
  background-color: #FFFFFF;
}
.subscribe-title-catalog{
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}
.subscribe-description-catalog{
  margin-top: 0;
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}
